@import "../vendor/bootstrap/less/variables.less";
@import "mixins.less";

// This used to be @screen-xs but Bootstrap deprecated it.
@screen-teensy: 480px;

@white: #fff;
@bodyTextColor: #4D4E53;
@sidebarColor: #d54361;
@blueSidebarColor: #1F93D0;
@purpleSidebarColor: #652562;
@orangeSidebarColor: #E78832;
@redSidebarColor: #BB3C33;
@footerBackgroundColor: #f1f1f1;

html, body {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: @bodyTextColor;
}

@media (min-width: @screen-md-min) {
  .page.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .page.container-fluid > .row {
    display: flex;
    flex-grow: 1;
  }

  .hero-unit {
    margin-right: -(@grid-gutter-width / 2);
  }
}

.hero-unit {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .learn-more {
    font-size: 1.6rem;
    font-weight: 400;
    color: @white;
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

h1 {
  font-weight: 600;
  font-size: 4.5rem;
  text-shadow: rgba(0,0,0,.6) 0 .2rem .1rem;
  letter-spacing: 0.05rem;
}

h2 {
  font-weight: 300;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-weight: 400;
  font-size: 2.6rem;
}

main {
  .list-with-illust {
    img {
      display: block;
      margin: 4rem auto 0 auto;
    }
  }
  ol,
  ul {
    font-size: 1.8rem;
    list-style-type: none;
    padding-left: 0;
  }
}

section {
  padding: 2.5rem;
}

.hero-unit h1 {
  padding: 2rem 0;
}

.hero-unit .btn-awsm {
  min-width: 15rem;
}

.btn.btn-awsm {
  position: relative;
  width: 100%;
  padding: 1rem 3.5rem;
  margin: 0 0 1.5rem 0;
  vertical-align: baseline;
  line-height: 1.42857;
  background-color: #FFCE34;
  color: #4C4F56;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.01rem;
  border: medium none transparent;
  box-shadow: 0px 0.4rem 0px #C4A74F, 0px 0.1rem 0px rgba(255, 255, 255, 0.5) inset;
  &:hover {
    top: 0.2rem;
    box-shadow: 0px 0.2rem 0px #C4A74F, 0px 0.1rem 0px rgba(255, 255, 255, 0.5) inset;
  }
  &:active {
    top: 0.4rem;
    box-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.2) inset;
  }
  @media screen and (min-width: @screen-teensy) {
    width: auto;
  }
}

a.bold-link {
  color: #9f9f9f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  white-space: pre;
}

.icon-link {
  text-align: center;
  figure {
    transition: all 0.18s ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h3 {
    margin-bottom: .5rem;
  }
  .subhead {
    font-style: italic;
    font-size: 1.6rem;
  }
}

.page-end-cta {
  p {
    font-size: 2.4rem;
  }
  text-align: center;
}

html.no-js .sidebar {
  .sidebar-header .glyphicon-menu-hamburger {
    display: none;
  }

  .collapsible-content {
    /* The links in the sidebar are crucial to navigating the site.
     * If JS is disabled, we want the links visible at all costs. */
    display: block !important;
  }
}

@sidebarTransitionTime: 0.5s;

.page.events .sidebar {
  .sidebarColorizer(@redSidebarColor);
}

.page.teach-like-mozilla .sidebar {
  .sidebarColorizer(@purpleSidebarColor);
}

.page.clubs {
  .sidebar {
    .sidebarColorizer(@orangeSidebarColor);
  }
  main {
    ul {
      .listItemBorderColorizer(@orangeSidebarColor);
    }
  }
}

.page.teaching-materials .sidebar {
  .sidebarColorizer(@blueSidebarColor);
}

.sidebar {
  background-color: @sidebarColor;
  transition: background-color @sidebarTransitionTime;
  color: white;

  a {
    color: inherit;
  }

  .sidebar-header {
    position: relative;
    background-color: white;
    font-size: 2rem;
    color: #595a5e;
    margin-left: -(@grid-gutter-width / 2);
    margin-right: -(@grid-gutter-width / 2);
    padding: (@grid-gutter-width / 4) (@grid-gutter-width / 2);
    overflow: hidden;
  }

  .sidebar-header a:hover, .sidebar-header a:focus {
    text-decoration: none;
  }

  .sidebar-header .corner {
    position: absolute;

    /* Ensure there isn't a sliver of empty space
     * between the corner and adjacent elements. */
    bottom: -.1rem;
    right: -.1rem;

    fill: @sidebarColor;
    transition: fill @sidebarTransitionTime;
  }

  .sidebar-header .glyphicon-menu-hamburger {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    cursor: pointer;
  }

  .sidebar-login {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .sidebar-menu a {
    position: relative;
    display: block;
    margin: 0 -(@grid-gutter-width / 2);
    padding: @grid-gutter-width / 2;
  }

  .sidebar-menu li img {
    float: none;
    width: 5.4rem;
    opacity: 0.6;
    margin: 0 1.5rem 0 0;
    @media (min-width: @screen-md-min) {
      float: left;
    }
    &.teach {
      width: 5rem;
      margin: 0.4rem 1.3rem 0 0.6rem;
    }
    &.clubs {
      width: 5rem;
      margin: 0 1.5rem 0 0.5rem;
    }
  }

  .sidebar-menu a:hover, .sidebar-menu a:focus {
    text-decoration: none;
    background-color: darken(@sidebarColor, 10%);
    transition: background-color @sidebarTransitionTime;
  }

  .sidebar-menu a strong {
    display: inline;
    font-weight: 700;
    text-transform: uppercase;
    @media (min-width: @screen-md-min) {
      float: block;
    }
  }

  .sidebar-menu a .help-text {
    font-size: 1.2rem;
    font-weight: 400;
    width: 22rem;
  }

  .sidebar-menu a .glyphicon {
    position: absolute;
    right: 1.5rem;
    font-size: 1.5rem;
    top: calc(50% - 1.5rem / 2);
    color: lighten(@sidebarColor, 15%);
    transition: color @sidebarTransitionTime;
  }
}

img.img-scale-to-fit {
  width: 100%;

  @media (min-width: @screen-teensy) and (max-width: @screen-xs-max) {
    padding: 0 10%;
  }
}

img.img-scale-to-fit.img-circle {
  @media (max-width: @screen-xs-max) {
    padding: 5% 25%;
  }
}

.values {
  padding: @grid-gutter-width 0;
  font-size: 3rem;

  @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
  }
}

blockquote {
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  border: none;
  img {
    display: block;
    margin: 0 auto;
    padding: 0 0 1rem 0;
  }
  small {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.6rem;
    color: #4D4E53;
  }
}

.case-studies {
  @quote-symbol-size: 5rem;
  padding-bottom: 3rem;

  .quote-symbol:before {
    margin-left: -0.15em;
    content: '\201C';
  }

  .quote-symbol {
    display: inline-block;
    border-radius: 50%;
    background-color: #f36b21;
    font-family: Georgia, serif;
    color: white;
    padding-top: 0.05em;
    font-size: @quote-symbol-size;
    width: @quote-symbol-size;
    height: @quote-symbol-size;
  }

  @media (min-width: @screen-sm-min) {
    .row {
      align-items: stretch;
      display: flex;
    }
  }

  .row .divider {
    border-right: .1rem solid #FFDFD0;
  }

  .case-study {
    padding-bottom: 3rem;
  }

  .case-study img {
    display: block;
  }

  .case-study h2 {
    font-weight: 300;
  }

  .case-study .bold-link {
    font-size: 1rem;
  }
}

footer {
  .sidebar {
    line-height: 4rem;
    @media (min-width: @screen-md-min) {
      align-items: flex-end;
      display: flex;
    }
  }

  .sidebar a {
    text-transform: uppercase;
    font-weight: 600;
  }

  > div {
    padding: @grid-gutter-width 0;
  }

  > .content {
    margin-top: 2.5rem;
    background: @footerBackgroundColor;
  }

  > .content a {
    color: @sidebarColor;
  }

  .logos > div {
    padding: 0 @grid-gutter-width;
  }

  .logos a img {
    height: 10rem;
    width: 15rem;
    padding-bottom: @grid-gutter-width;
    &.maker-party {
      width: 16rem;
    }
  }

  .hive-cities {
    font-size: 1rem;
  }

  .hive-cities .more-link {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.mapDiv {
   top: 0px;
   bottom: 0px;
   width: 100%;
  .mapDivChild {
    position: relative;
    height: 500px;
  }
}
