@import "../node_modules/bootstrap/less/variables.less";

// This used to be @screen-xs but Bootstrap deprecated it.
@screen-teensy: 480px;

@white: #fff;
@grey: #4D4E53;
@lightGrey: #DAE1E9;
@paleBlue: #EBF2F5;
@bodyTextColor: @grey;
@sidebarColor: #1E92CE;
@blueSidebarColor: @sidebarColor;
@darkBlueSidebarColor: #2D4A8C;
@purpleSidebarColor: #652562;
@greenSidebarColor: #6BB387;
@orangeSidebarColor: #E78832;
@lightOrangeSidebarColor: lighten(@orangeSidebarColor, 5%); // aka @radicalPumpkinOrangeSidebarColor
@redSidebarColor: #BB3C33;
@pinkSidebarColor: #D64262;
@aquaSidebarColor: #24bcbc;
@promoBannerBackground: fade(@grey, 10%);
@strokeColor: #c1c1c0;
// makerstrap
@makerstrapBrandPrimary: #3fb58e;
@makerstrapDarkGreen: #328f70;

@awsmBtnColor: #FFCE34;

// Stroke
@stroke: .1rem solid @strokeColor;

// Web Literacy Page Colors
@headerBackground: #F5F5F5;
@headerText: #617886;
@containerBackground: #FAFAFA;

// Web Literacy 21c skills colours.
@problemsolving: #793575;
@communication: #FAE695;
@collaboration: #8BCA6C;
@creativity: #136BB3;

// Section spacing
@section-padding-vertical: 2.5rem;
@section-padding-horizontal: 2.5rem;

// Form
@form-field-border-radius: .4rem;

// Images
@image-border-radius: .4rem;
