{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "rules" : {
    "valid-jsdoc": [1],

    "curly": [2],
    "dot-notation": [2],
    "eqeqeq": [2],

    "semi": [2, "always"],
    "strict": [2, "global"]
  },
  "extends": [
    // "./node_modules/mofo-style/.eslintrc.yaml"
  ],
  "env": {
    "browser": true,
    "node": true
  }  
}
