@import "vendor/bootstrap/less/variables.less";

@sidebarColor: #d54361;
@footerBackgroundColor: #f1f1f1;

body > .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > .container > .row {
  flex-grow: 1;
  display: flex;
}

.hero-unit {
  background-image: url(img/hero-unit.jpg);
  background-position: right top;
  margin-right: -(@grid-gutter-width / 2);
  height: 450px;
}

.sidebar {
  background-color: @sidebarColor;
  color: white;
}

.sidebar-header {
  position: relative;
  background-color: white;
  font-size: 2rem;
  color: #595a5e;
  margin-left: -(@grid-gutter-width / 2);
  margin-right: -(@grid-gutter-width / 2);
  padding: (@grid-gutter-width / 2);
}

.sidebar-header .corner {
  position: absolute;
  bottom: 0;
  right: 0;
  fill: @sidebarColor;
}

.values {
  padding: @grid-gutter-width 0;
  font-size: 3rem;
}

.values img {
  width: 100%;
}

footer > div {
  padding-bottom: @grid-gutter-width;
}

footer > .content {
  background: @footerBackgroundColor;
}
