.about-page {
  .our-goal {
    max-width: 80rem;
    margin: 0 auto;
    p {
      margin: 0 auto;
      padding: 2rem 0 3rem 0;
      max-width: 50rem;
      line-height: 3rem;
      font-size: 1.8rem;
      text-align: center;
    }
  }
}
