@indigoSidebarTextColor: #AEB1CE;
.page.badges {
  .hero-unit {
    background-image: url(/img/pages/badges/pattern.png);
    background-repeat: repeat;
    background-color: #474E79;
    background-size: auto;
    -moz-background-size: auto;
    -webkit-background-size: auto;

    h1{
      margin-top: 40px;
    }

    .retina2x({ background-image: url(/img/pages/badges/pattern@2x.png); });

    .sub-title{
      color:@indigoSidebarTextColor;
      padding: 0px 10rem;
      font-size: 2rem;
    }
  }

  .icon-link {
    padding-bottom: 0px;
    .subhead {
      font-style: normal;
      color: @indigoSidebarTextColor;
      padding:0px 4rem;
    }
  }
}

.badges {
  .hive-links {
    margin: 2.5rem 0;
    .hive-link {
      white-space: nowrap;
      margin: 0.6rem 0;
      .image-tag {
        width: 6.3rem;
      }
      span {
        margin: 0 0 0 1rem;
        text-transform: uppercase;
      }
    }
  }
  .activity-kit {
    .label-tag {
      .activityKitLabelColorizer(@indigoSidebarColor);
    }
  }
  .illustration {
    .image-container {
      padding-bottom: 0;
      img {
        border-radius: 4px;
      }
    }
  }
}


.top-back-navigation{
  margin-top: @padding-base-horizontal;
  margin-bottom: @padding-base-horizontal * 2;

  .btn-link{
    text-transform: uppercase;
    color: @indigoSidebarColor;
  }
}


.single-badge{
  .badge-horizontal-icon{
    margin-bottom: 3rem;
    .badge-description{
      margin-top: 3rem;
      h2{
        margin-top: 10px;
      }

      .description{
        font-size: 1.8rem;
      }
    }
  }

  #content{
    padding: 0px 4rem;
  }
}


.apply-send-qualifications{
  h3{
    margin-top: @padding-large-horizontal * 3.5;
  }

  form{
    .form-group{
      .control-label{
        font-weight: 300;
        margin-bottom: @padding-base-horizontal;
      }

      .form-control{
        background-color: @liBgEvenColor;
        padding: @padding-base-horizontal;
        font-size: 1.8rem;
        border: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &::-webkit-input-placeholder { font-style: italic; }
        &:-moz-placeholder { font-style: italic; }
      }
    }
  }
}

.single-badge-page-navigation{
  padding:  0 0 @padding-large-horizontal * 2 0;

  .next,
  .prev{
    .icon{
      display: inline-block;
      max-width: 100px;
      max-height: 114px;

      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    .text{
      display: inline-block;
      text-transform: uppercase;
    }
  }

  .next{
    text-align: right;
    .text{
      margin-right: @padding-base-horizontal;
    }
  }

  .prev{
    .text{
      margin-left: @padding-base-horizontal;
    }
  }
}

.optional-file-input{
  .btn-link{
    padding-left:0px;
    padding-right:0px;
  }
}

.login-cta {
  .login-text{
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 1.5em;
    color: #777;
  }
  a.btn {
    padding-left: 4em;
    padding-right: 4em;
  }
}

.badge-reward-text{
  background-color: @liBgOddColor;
  padding: @padding-large-horizontal * 2;
  border-radius: 4px;

  .date{
    margin-bottom: @padding-base-horizontal;
    text-transform: uppercase;
  }
  .qualifications{
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-style: italic;
    margin-bottom: @padding-base-horizontal;

    &:before{
      content: '"';
    }
    &:after{
      content: '"';
    }
  }

}

.badges-content{
  .badge-icon-link{
    text-decoration: none;
    color: #56565A
  }
}


.badge-vertical-icon{
  .badge-text{
    .description{
      height: 7rem;
    }
  }
}