.page.clubs .hero-unit {
  background-image: url(/img/pages/clubs/hero-clubs.jpg);

  .retina2x({
    background-image: url(/img/pages/clubs/hero-clubs@2x.jpg);
  });
}

.club-location {
  font-size: 1.5rem;
  cursor: pointer;
  .fa-map-marker {
    font-size: 1.8rem;
  }
}

.club-button {
  font-size: 1.5rem;
  position: relative;
  top: 1px;
}

.club-location:hover {
  color: @link-color;
}
