.events {
  .flickr-thumbnail {
    max-width: 100%;
  }
}

.mailinglist-signup {
  p.pp-note {
    font-size: 1.2rem;
    margin-top: .5rem;
    line-height: 1.2;
  }
  .alert.alert-danger {
    padding: 0 .5rem;
    margin: .5rem 0;
    p.error-msg {
      margin-top: 0;
      font-size: 1.2rem;
    }
  }
}

.carousel-holder {
  max-width: 800px;
  margin: 0 auto;
}
