.gigabit-contact {
  h4 {
    font-size: 26px;
    font-weight: 300;
  }

  p {
    font-size: 14px;
    line-height: 1.33em;
  }

  a {
    font-size: 14px;
    display: block;
    line-height: 1.66em;
  }
}
