.gigabit-contact {
  h4 {
    font-size: 26px;
    font-weight: 300;
  }

  p {
    font-size: 14px;
    line-height: 1.33em;
  }

  a {
    font-size: 14px;
    display: block;
    line-height: 1.66em;
  }
}

.grey-block {
  background: #F9F9F9;
  margin: 0 -15px;
  padding: 0 30px;

  .box {
    background: #fff;
    border: 0;
  }
}

.partner-logos {
  display: flex;
  align-items: center;
}

// Anchors with font-awesome glyphs prepended:

.glyph-link:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
}

.glyph-link-email:before {
  content: "\f0e0"; // `fa-envelope`
}

.glyph-link-twitter:before {
  content: "\f099"; // `fa-twitter`
}

.glyph-link-facebook:before {
  content: "\f09a"; // `fa-facebook`
}
