@quote-symbol-size: 5rem;

.page .hero-unit {
  background-image: url(/img/pages/home/hero-unit.png);

  .retina2x({
    background-image: url(/img/pages/home/hero-unit@2x.png);
  });
}

.case-studies {
  padding-bottom: 3rem;

  .quote-symbol:before {
    content: '\201C';
    margin-left: -0.15em;
  }

  .quote-symbol {
    border-radius: 50%;
    background-color: #f36b21;
    color: white;
    display: inline-block;
    height: @quote-symbol-size;
    font-family: Georgia, serif;
    font-size: @quote-symbol-size;
    padding-top: 0.05em;
    width: @quote-symbol-size;
  }

  @media (min-width: @screen-sm-min) {
    .row {
      align-items: stretch;
      display: flex;
    }
  }

  .row .divider {
    border-right: .1rem solid #FFDFD0;
  }

  .case-study {
    padding-bottom: 3rem;
    img {
      display: block;
    }
    h2 {
      font-weight: 300;
    }
    .bold-link {
      font-size: 1rem;
    }
  }
}

.values {
  padding: @grid-gutter-width 0;
  font-size: 3rem;

  @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
  }
}
