.page.teach-like-mozilla .hero-unit {
  background-image: url(/img/pages/teach-like-mozilla/hero-teach-like-mozilla.png);

  .retina2x({
    background-image: url(/img/pages/teach-like-mozilla/hero-teach-like-mozilla@2x.png);
  });
}

.teach-like-mozilla {
  .sub-title {
    font-style: italic;
    font-size: 2rem;
    @media screen and (min-width: @screen-sm-min) {
      font-size: 2.8rem;
    }
  }
  .list-with-illust {
    margin-top: 4rem;
    ul {
      .listItemBorderColorizer(@tealSidebarColor);
    }
  }
}
