.web-literacy {
  .content-container {
    text-align: center;
    h2 {
      font-size: 1.8rem;
    }
    font-size: 1.2rem;
    @media screen and (min-width: @screen-lg-min) {
      max-width: 50rem;
    }
    @media screen and (min-width: @screen-sm-min) {
      text-align: left;
      h2 {
        font-size: 3rem;
      }
    }
    @media screen and (min-width: @screen-teensy) {
      h2 {
        font-size: 2.5rem;
      }
    }
  }
  .web-map {
    text-align: center;
    .web-map-contents {
      margin: 3rem 0 3rem 0;
    }
    h2 {
      margin-bottom: 0;
    }
  }
  .expander-header {
    background-color: #EFF3F7;
    color: #617886;
    &:focus {
      color: white;
      background-color: #5791CE;
    }
  }
  .expander-items-container {
    background-color: #F5F9FC;
    color: #617886;
  }
}
