.dev-ribbon-holder {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
}

a.dev-ribbon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 7rem;
  white-space: pre;
  background: gray;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transform-origin: top right;
  transform: rotate(45deg) translate(12rem, 7rem);
  pointer-events: auto;
}

a.dev-ribbon:hover, a.dev-ribbon:focus {
  text-decoration: none;
  background: black;
}
