footer {
  .sidebar {
    line-height: 4rem;
    @media (min-width: @screen-md-min) {
      align-items: flex-end;
      display: flex;
    }
    a {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  & > div {
    padding: @grid-gutter-width 0;
  }

  & > .content {
    background: @footerBackgroundColor;
    p {
      padding-top: 2rem;
      font-size: 1.4rem;
      line-height: 2rem;
    }
    a {
      color: gray;
      text-decoration: underline;
    }
    img {
      width: 20rem;
    }
  }
}
