.hero-unit {
  &.hero-unit-1x {
    display: flex;
  }
  &.hero-unit-2x {
    display: none;
  }

  @media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
    &.hero-unit-1x {
      display: none;
    }
    &.hero-unit-2x {
      display: flex;
    }
  }

  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column;
  height: 45rem;
  justify-content: center;
  text-align: center;
  @media (min-width: @screen-md-min) {
    margin-right: -(@grid-gutter-width / 2);
  }
  .learn-more {
    font-size: 1.6rem;
    font-weight: 600;
    color: @white;
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h1 {
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 40rem;
    @media (min-width: @screen-teensy) {
      max-width: 49rem;
    }
    @media screen and (min-width: @screen-sm-min) {
      max-width: 60rem;
    }
    @media screen and (min-width: @screen-md-min) {
      max-width: 70rem;
    }
  }

  .btn-awsm {
    min-width: 15rem;
  }
}
