.hero-unit {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 45rem;
  justify-content: center;
  text-align: center;
  @media (min-width: @screen-md-min) {
    margin-right: -(@grid-gutter-width / 2);
  }
  .learn-more {
    font-size: 1.6rem;
    font-weight: 600;
    color: @white;
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h1 {
    padding: 2rem 0;
  }

  .btn-awsm {
    min-width: 15rem;
  }
}
