img {
  &.center {
    max-width: 85%;
    display: block;
    margin: 0 auto;
  }
  &.img-scale-to-fit {
    width: 100%;
    @media (min-width: @screen-teensy) and (max-width: @screen-xs-max) {
      padding: 0 10%;
    }
  }
}
