.modal-header,
.modal-body {
  padding: 1.5rem 2rem;
}

.modal-dialog {
  background-color: @white;
  border: .1rem solid @modal-outer-border-color;
  width: auto;
  @media (min-width: 768px) {
    width: 50rem;
    margin: 10rem auto;
  }
  p {
    font-size: inherit;
    line-height: inherit;
  }
  .modal-header {
    background-color: #EDEDED;
    border-bottom: .1rem solid @modal-inner-border-color;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .modal-title, button {
      line-height: 2.4rem;
      min-height: 2.4rem;
      font-size: 1.8rem;
      margin-top: 0;
    }
  }
  .modal-body {
    h2 {
      font-weight: 500;
      font-size: 3rem;
      letter-spacing: -0.02rem;
      margin: 1rem 0 0.5rem 0;
    }
    label {
      display: block;
      margin-bottom: 0;
      font-size: 1.4rem;
      color: @grey;
      font-weight: 600;
    }
    label + p {
      margin-bottom: 0;
    }
    input, textarea, .Select-control {
      margin-top: 1rem;
      font-weight: 400;
      font-style: 1.4rem;
    }
    input, textarea {
      width: 100%;
      padding: 1rem;
      border: .1rem solid @lightGrey;
    }
    .Select.is-disabled .Select-control {
      background: rgb(235, 235, 228);
    }
    .Select-input input {
      padding: 0;
      margin-top: 0;
      border: none;
      box-shadow: none;
    }
    input[type="checkbox"] {
      margin-top: 0.3rem;
      box-shadow: none;
      width: auto;
    }
    fieldset {
      margin-bottom: 2rem;
      &:nth-last-child(2){
        margin-bottom: 0;
      }
    }
    .globe {
      padding: 1rem 0;
    }
    .btn {
      margin: 2rem 0 0 0;
      padding: 1.4rem 0;
      background: @orangeSidebarColor;
      color: @white;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 0px;
      border: 1px solid darken(@orangeSidebarColor, 15%);
      &:hover {
        background: saturate(@orangeSidebarColor, 10%);
      }
    }
    .btn.btn-awsm {
      // FIXME / TODO
      // some (redundant) rules to override .modal-body .btn stylings
      border-radius: @form-field-border-radius;
      width: auto;
      margin: 1rem auto;
      background-color: @blueSidebarColor;
      box-shadow: 0px 0.4rem 0px @darkBlueSidebarColor,
                  0px 0.1rem 0px rgba(255, 255, 255, 0.5) inset;
      color: @white;
      // the following rules are copied directly from the .btn-awsm ruleset in btn.less,
      // once we have come to a conclusion on the button stylings for modal (Issue #1045)
      // we should clean this file up by separating rules into different rulesets
      position: relative;
      padding: 1rem 3.5rem;
      vertical-align: baseline;
      line-height: 1.42857;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.01rem;
      border: medium none transparent;
      &:hover {
        top: 0.2rem;
        box-shadow: 0px 0.2rem 0px @darkBlueSidebarColor,
                    0px 0.1rem 0px rgba(255, 255, 255, 0.5) inset;
      }
      &:active {
        top: 0.4rem;
        box-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.2) inset;
      }
    }
  }
}

.modal-dialog.folded {
  // folded corner effect on non-solid background
  // based on http://stackoverflow.com/a/26241310
  border: none;
  position: relative;
  overflow: hidden;
  background: transparent;
  .modal-header {
    background-color: transparent;
    border-bottom: none;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      border-top: 2rem solid transparent;
      border-left: 2rem solid @lightGrey;
      border-bottom: 2rem solid @lightGrey;
      border-right: 2rem solid transparent;
    }
    button {
      position: relative;
      top: .5rem;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 1000%;
    top: 4rem;
    background: @white none repeat scroll 0% 0%;
    transform-origin: 50% 0 0;
    transform: rotate(45deg);
    z-index: -1;
    right: -500%;
  }
  .modal-body {
    padding-bottom: 3.5rem;
  }
}

.modal-backdrop {
  opacity: 0.5;
  height: 100%;
}

body .modal {
  /* Workaround for https://github.com/twbs/bootstrap/issues/14839. */
  -webkit-overflow-scrolling: auto;
}

// modal fade in/out animation
.modal-enter {
  opacity: 0.01;
  transition: opacity 0.25s ease-in;
  &.modal-enter-active {
    opacity: 1;
  }
}

.modal-leave {
  opacity: 1;
  transition: opacity 0.25s ease-in;
  &.modal-leave-active {
    opacity: 0.01;
  }
}
