@sidebarTransitionTime: 0.5s;

html.no-js .sidebar {
  .sidebar-header .glyphicon-menu-hamburger {
    display: none;
  }

  .collapsible-content {
    /* The links in the sidebar are crucial to navigating the site.
     * If JS is disabled, we want the links visible at all costs. */
    opacity: 1 !important;
    max-height: none !important;
  }
}

.page {
  .pageColorizer();

  &.opportunities-page,
  &.clubs,
  &.clubs-list-page,
  &.events,
  &.event-resources {
    .pageColorizer(@darkBlueSidebarColor);
  }
  &.tools-page {
    .pageColorizer(@greenSidebarColor);
  }
  &.teaching-materials,
  &.web-literacy,
  &.web-lit-basics,
  &.web-lit-basics-two,
  &.protect-your-data,
  &.privacy-basics,
  &.madewithcode-landing,
  &.madewithcode-firstwebpage,
  &.madewithcode-meme,
  &.madewithcode-poster,
  &.maker-party-2015,
  &.parapara-page,
  &.community-page,
  &.curriculum-workshop,
  &.community-call {
    .pageColorizer(@aquaSidebarColor);
  }
}

.sidebar {
  position: relative;
  height: auto;
  color: @white;
  font-size: 1.4rem;
  padding: 0;
  a {
    color: inherit;
  }

  .collapsible-content {
    transition: all 0.5s ease;
    opacity: 1;
    max-height: 1400px;
    padding-bottom: 1rem;
    &.collapsed {
      opacity: 0;
      max-height: 0;
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: @screen-md-min) {
    position: fixed;
    height: 100%;
    transition: background-color @sidebarTransitionTime;
    .collapsible-content {
      &.collapsed {
        opacity: 1;
        max-height: auto;
      }
    }
  }
}


.sidebar-header {
  position: relative;
  font-size: 2rem;
  color: #595a5e; // TODO: should this actually be @bodyTextColor ?
  padding: 2rem 1.5rem;
  overflow: hidden;
  @media screen and (min-width: @screen-md-min) {
    background-color: rgba(255, 255, 255, 0.3);
  }
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .moz-logo {
    width: 100%;
    max-width: 13rem;
  }
  .glyphicon-menu-hamburger {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    color: @white;
    border: none;
    background: transparent;
    padding: 0;
  }
  .glyphicon-menu-hamburger:focus {
    color: darken(@white, 10%);
  }
}

.sidebar-menu {
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 0;
  a {
    position: relative;
    display: block;
    padding: (@grid-gutter-width / 2);
    outline: none;
    &:hover, &:focus {
      text-decoration: none;
      background-color: darken(@sidebarColor, 5%);
      transition: background-color @sidebarTransitionTime;
    }
  }
  strong {
    display: inline;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 1rem;
  }
  .external-link {
    &:after {
      color: fade(@white, 50%);
    }
  }
  .glyphicon {
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    top: calc(41.5%);
    color: lighten(@sidebarColor, 15%);
    transition: color @sidebarTransitionTime;
    visibility: hidden;
    @media screen and (min-width: @screen-lg-min) {
      right: 1.5rem;
    }
    @media screen and (min-width: @screen-md-min) {
      visibility: visible;
    }
  }
  .img-container {
    display: inline-block;
    overflow: hidden;
    width: 3.5rem;
    text-align: center;
    vertical-align: middle;
  }
  img {
    float: none;
    width: 2rem;
    opacity: 0.6;
  }
  .activities img,
  .opportunities img {
    width: 1.6rem;
  }
  .tools-page img {
    width: 2.3rem;
  }
  .community img {
    width: 2.8rem;
  }
}

.sidebar-subitems {
  overflow: hidden;
  display: none;
  list-style: none;
  padding: 0 0 0 6.6rem;

  @media screen and (min-width: @screen-md-min) {
    padding-left: 6.1rem;
  }
  li {
    margin-bottom: 1.5rem;
    a::before {
      content: "\f105";
      font-family: "FontAwesome";
      display: inline-block;
      margin-right: 1rem;
    }
  }
  a {
    display: inline-block;
    font-weight: 600;
    padding: 0;
  }
}
