.teach-like-mozilla {
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  .hero-unit {
    h2 {
      font-size: 3rem;
    }
    h1 {
      max-width: 100%;
      padding: 0.8rem 0;
    }
  }
  .sub-title {
    font-style: italic;
    font-size: 2.8rem;
  }
  .list-with-illust {
    margin-top: 4rem;
    img {
      width: 100%;
      max-width: 240px;
      margin: 4rem auto 4rem;
    }
    ul {
      .listItemBorderColorizer(@tealSidebarColor);
    }
  }
}
